* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-image: linear-gradient(to right, #071952, black);

}

.page_active {
    color: goldenrod !important;
    border-bottom: 1px solid goldenrod;
}

/* NAVBAR */
.navbar {
    background-image: linear-gradient(to right, #071952, black);
    border-bottom: 1px solid goldenrod;
}

.navbar .container .logo {
    font-size: 35px;
    font-weight: 900;
}

.navbar .container a {
    font-size: 20px;
    text-decoration: none;
    color: goldenrod;
}

.navbar .container a:hover {
    color: white;
    transition: .3s;
}

/* FOOTER */
footer {
    color: white;
    padding: 20px;
    background-image: linear-gradient(to right, #071952, black);
    margin-top: auto;
    border-top: 1px solid goldenrod;
}

footer h6 {
    display: inline-block;
    border-bottom: 1px solid;
    color: goldenrod;
}

/* ABOUT GRID */
.about_grid{
    background-image: url("img/gabe.jpg");
    background-size: cover;
    padding-right: 350px;
    backdrop-filter: blur(5px);
    height: 92vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about_grid .about_container{
    background-image: linear-gradient(to right, #071952, black);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.about_grid .about_container h1, label{
    font-weight: bolder;
    color: goldenrod;
}

.about_grid .about_container span{  
    color: white;
}

.main_content .about{
    /* background-color: white; */
    height: 120vh;
    color: white;
}

.main_content .about h2{
    font-weight: bolder;
    color: goldenrod;
    font-size: 40px;
}

.main_content .about h4{
    font-size: 30px;
}

.main_content .about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_content .social_links{
    background-image: linear-gradient(to right, goldenrod, #071952);
    border-radius: 10px;
    padding: 20px 0px;
}

.main_content .fa-brands{
    font-size: 40px;
    color: white;
}
