@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{

}

.navbar{
    background-color: #071952;
}

.container .logo{
    font-size: 25px;
}

.container a{
    font-size: 20px;
    text-decoration: none;
    color: goldenrod;
}

.container a:hover{
    color: white;
    transition: .3s;
}
