@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* //////////////////////////////////////////////////// */
/* INDEX HTML */
/* //////////////////////////////////////////////////// */

/* MAIN HEADER */
.main_header {
    height: 100vh;
    background-image: url("gabe.jpg");
    background-size: cover;
    position: relative;
}

.main_header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.main_header * {
    z-index: 1;
}

/* NAVBAR */
.navbar {
    background-image: linear-gradient(to right, #071952, black);
}

.navbar .container .logo {
    font-size: 35px;
    font-weight: 900;
}

.navbar .container a {
    font-size: 20px;
    text-decoration: none;
    color: goldenrod;
}

.navbar .container a:hover {
    color: white;
    transition: .3s;
}

/* CONTENT */
.main_header .container-content{
    color: goldenrod;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.main_header .container-content h2{
    font-size: 50px;
    font-weight: 900;
    border-bottom: 2px solid goldenrod;
    display: inline-block;
}

.main_header .container-content p{
    font-size: 25px;
    color: white;
}

/* FOOTER */
footer{
    color: white;
    padding: 20px;
    background-image: linear-gradient(to right, #071952, black);
    margin-top: auto;
}

footer h6{
    display: inline-block;
    border-bottom: 1px solid;
    color: goldenrod;
    font-weight: 900;
}

footer p{
    font-weight: 900;
    color: goldenrod;
}

/* //////////////////////////////////////////////////// */
/* LOGIN HTML */
/* //////////////////////////////////////////////////// */

.login_page {
    background: linear-gradient(to top right, black, #071952);
}

.login_page .login_page_grid{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_page img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
}

.login_page .card{
    background-color: white;
}

.login_page .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_page label{
    color: goldenrod;
    font-weight: 900;
}

.login_page h2{
    color: goldenrod;
    font-weight: 900;
}

/* //////////////////////////////////////////////////// */
/* CONTACT HTML */
/* //////////////////////////////////////////////////// */

.contact{
    background: linear-gradient(to top right, black, #071952);
}

.contact_grid{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact_grid label{
    color: goldenrod;
    font-weight: 900;
}

.contact_grid h2{
    color: goldenrod;
    font-weight: 900;
}