@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.page_active {
    color: goldenrod !important;
    border-bottom: 1px solid goldenrod;
}

/* //////////////////////////////////////////////////// */
/* INDEX HTML */
/* //////////////////////////////////////////////////// */

/* MAIN HEADER */
.main_content {
    height: 100vh;
    background-image: url("img/gabe.jpg");
    background-size: cover;

    position: relative;
}

.main_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.main_content * {
    z-index: 1;
}

/* NAVBAR */
.navbar {
    background-image: linear-gradient(to right, #071952, black);
    border-bottom: 1px solid goldenrod;
}

.navbar .container .logo {
    font-size: 35px;
    font-weight: 900;
}

.navbar .container a {
    font-size: 20px;
    text-decoration: none;
    color: goldenrod;
}

.navbar .container a:hover {
    color: white;
    transition: .3s;
}

/* CONTENT */
.main_content .container-content {
    color: goldenrod;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.main_content .container-content h2 {
    font-size: 50px;
    font-weight: 900;
    border-bottom: 2px solid goldenrod;
    display: inline-block;
}

.main_content .container-content p {
    font-size: 25px;
    color: white;
}

/* FOOTER */
footer {
    color: white;
    padding: 20px;
    background-image: linear-gradient(to right, #071952, black);
    margin-top: auto;
    border-top: 1px solid goldenrod;
}

footer h6 {
    display: inline-block;
    border-bottom: 1px solid;
    color: goldenrod;
}

/* //////////////////////////////////////////////////// */
/* LOGIN HTML */
/* //////////////////////////////////////////////////// */

.login_page .login_page_grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_page img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
}

.login_page .card {
    background-color: white;
}

.login_page .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_page label {
    color: goldenrod;
    font-weight: 900;
}

.login_page h2 {
    color: goldenrod;
    font-weight: 900;
}

/* //////////////////////////////////////////////////// */
/* CONTACT HTML */
/* //////////////////////////////////////////////////// */


.contact_grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_grid label {
    color: goldenrod;
    font-weight: 900;
}

.contact_grid h2 {
    color: goldenrod;
    font-weight: 900;
}

/* //////////////////////////////////////////////////// */
/* MY CITY HTML */
/* //////////////////////////////////////////////////// */
.my_city{
    background-image: linear-gradient(to left, #071952, black);
}

.my_city .content{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.my_city .content h4 ,h1{
    color: goldenrod;
    font-weight: 800;
}

.my_city .content h5{
    color: goldenrod;
}

.my_city .carousel{
    padding: 10px;
}

.my_city .carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 70vh;
}

.my_city .content img {
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.my_city .carousel-caption{
    backdrop-filter: blur(2px);
    border-radius: 15px;
}


/* //////////////////////////////////////////////////// */
/* MY CITY HTML */
/* //////////////////////////////////////////////////// */

.cv_page{
    background-color: black;
}

.cv_container {
    background-color: #001e33;
    color: white;
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px;
}

/* col-2 */

/* profile */
.cv_container aside .profile{
    text-align: center;
    border-bottom: 1px solid #003c66;
}

.cv_container aside .profile p{
    color: grey;
}

.cv_container aside .profile h4, label{
    color: goldenrod;
}

.cv_container aside .profile img{
    border-radius: 50%;
}

.cv_container aside .profile .personal_info{
    display: flex;
    flex-direction: column;
}

.cv_container aside .personal_info .row_{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* col-10 */
.cv_container header .cv_header_bg{
    background-image: url(img/binarybg.jpg);
    background-size: cover;
    border-radius: 20px;
    height: 15vh;
}

.cv_container header .cv_header span{
    color: goldenrod;
    font-size: 25px;
    font-weight: 900;
}

.cv_container section span{
    color: goldenrod;
    font-weight: 900;
    border-bottom: 1px solid goldenrod;
}

.cv_container section h5{
    color: goldenrod;
}

.cv_container section p{
    font-size: 15px;
}

.cv_container section img{
    object-fit: cover;
    object-position: top;
    height: 100%;
}


